<div class="flex flex-wrap px-40 pt-20">
    <div *ngFor="let pokemon of pokemons; index as i;" class="flex-1 text-center shadow m-4 rounded-xl w-60">
        <img class="block h-40 w-40 p-4"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{i+1}}.png"
            alt="Pokemon picture">
        <div class="px-12 pb-3">
            <div class="font-bold text-md uppercase">{{ pokemon.name }}</div>
        </div>
        <div class="mb-5">
            <app-catch-pokemon-button [pokemonName]="pokemon.name"></app-catch-pokemon-button>
        </div>
    </div>
</div>