<ng-container *ngIf="!loading else spinner">
    <div *ngIf="isCaught; then caught else notCaught"></div>
    <ng-template #caught>
        <button (click)="onCatchClick()">
            <img id=" pokeball" src="/assets/img/pokeball.png" class="w-8" />
        </button>
        <p class="text-gray-400 text-sm italic">Press to release me!</p>
    </ng-template>
    <ng-template #notCaught>
        <button (click)="onCatchClick()">
            <img id="pokeball" src="https://cdn-icons-png.flaticon.com/512/868/868596.png" class="w-8" />
        </button>
        <p class="text-gray-400 text-sm italic">Press ball to catch!</p>
    </ng-template>
</ng-container>

<ng-template #spinner>
    <span class="material-icons animate-spin">refresh</span>
</ng-template>